
/* navbar */
.logo-img {
    height: 32px;
    width: auto;
}

.text-custom .nav-link {
    color: #1b130b;
}

.nav-link.active {
    font-weight: bold;
}

/* hero */
.hero-section h1,
.hero-section h1,
.hero-section p {
    color: #faf2da;
    font-family: 'Headlee', cursive;
}

.btn {
    background-color: #1b130b;
    color: #faf2da;
    border: 1px solid #1b130b;
}
